JWT_SECRET="change-me"
FIREBASE_PROJECT_ID="routesnap-7261d"
FIREBASE_CLIENT_EMAIL="firebase-adminsdk-xxxxx@seu-projeto-firebase.iam.gserviceaccount.com"
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nSUA_CHAVE_PRIVADA_AQUI\n-----END PRIVATE KEY-----\n"
# Alternativa recomendada para desenvolvimento local:
# GOOGLE_APPLICATION_CREDENTIALS="C:/caminho/para/routesnap-adminsdk.json"
# Use apenas com o emulador local do Firestore:
# FIRESTORE_EMULATOR_HOST="127.0.0.1:8080"
GOOGLE_MAPS_API_KEY=""
OCR_PROVIDER="google_mlkit_or_vision"
STORAGE_PROVIDER="local_or_s3"
EXPO_PUBLIC_API_URL="http://SEU_IP_LOCAL:3333"
EXPO_PUBLIC_FIREBASE_API_KEY=
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=
EXPO_PUBLIC_FIREBASE_PROJECT_ID=
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
EXPO_PUBLIC_FIREBASE_APP_ID=

GOOGLE_CLOUD_VISION_API_KEY=
